{% extends 'articles/base.html' %}
<!-- articles의 base를 그대로 사용하므로 위와 같이 경로 지정 -->
{% load bootstrap4 %}

{% block title %}회원가입{% endblock title %}

{% block content %}
  {% if request.resolver_match.url_name == 'signup' %}
    <h1>회원가입</h1>
  {% elif request.resolver_match.url_name == 'login' %}
    <h1>로그인</h1>
  {% elif request.resolver_match.url_name == 'update' %}
    <h1>회원 정보 수정</h1>
  {% else %}
    <h1>비밀번호 변경</h1>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='SUBMIT' reset="CANCEL" %}{% endbuttons %}
  </form>
  <a class="btn btn-primary" href="{% url 'articles:index' %}">메인으로</a>
{% endblock %}