{% extends 'base.html' %}
{% load static %} <!-- 최상단에는 extends가 와야 함 -->

{% block content %}
  <img src="{% static 'articles/images/pix.jpg' %}" alt="sample_pix">
  <h1 class="text-center">Articles</h1>
  <a href="{% url 'articles:create' %}">[ NEW ]</a>
  <hr>  
  {% for article in articles %}
    <p>글 번호: {{ article.pk }}</p>
    <p>글 제목: {{ article.title }}</p>
    <p>글 내용: {{ article.content }}</p>
    <a href="{{ article.get_absolute_url }}">[ DETAIL ]</a>
    <hr>
  {% endfor %}
{% endblock %}
