{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">NEW</h1>
  <form action="/articles/create/" method="POST">
    {% csrf_token %}  
    {% comment %} POST 방식에서 {% csrf_token %} 잊지 말자 {% endcomment %}
    <label for="title">TITLE</label>
    <input type="text" name="title" id="title"><br>
    <label for="content">CONTENT</label>
    <textarea name="content" id="content" cols="30" rows="5"></textarea><br>
    {% comment %} django는 textarea 사용 {% endcomment %}
    <input type="submit" value="submit">
  </form>
{% endblock %}