{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">UPDATE</h1>
{% if article.image %}
<img src="{{ article.image.url }}" alt="sample_img">
{% else %}
<img src="{% static 'articles/images/no-image-available.png' %}" alt="no-img">
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% comment %} POST 방식에서 {% csrf_token %} 잊지 말자 {% endcomment %}
  <label for="title">TITLE</label>
  <input type="text" name="title" id="title" value="{{ article.title }}"><br>
  {% comment %} value="{{ article.title }} 추가 {% endcomment %}
  <label for="content">CONTENT</label>
  <textarea name="content" id="content" cols="30" rows="5">{{ article.content }}</textarea><br>
  {% comment %} textarea 태그 안에 넣어주기 {% endcomment %}
  {% comment %} django는 textarea 사용 {% endcomment %}
  <label for="image">IMAGE</label>
  <input type="file" name="image" id="image" accept="image/"><br>
  <!-- 과거 업로드된 이미지를 가져올 수 없어서 다시 올려야 함 -->
  <input type="submit" value="update">
</form>
<a href="{{ article.get_absolute_url }}">[ BACK ]</a>
{% endblock %}