{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">DETAIL</h1>
<h2>{{ article.pk }} 번째 글</h2>
<hr>
<p>제목: {{ article.title }}</p>
<p>내용: {{ article.content }}</p>
<p>작성 일시: {{ article.created_at }}</p>
<p>수정 일시: {{ article.updated_at }}</p>
<hr>
<!-- 댓글 출력 -->
<h5>작성된 댓글: {{ comments|length }} 개</h5>
{% for comment in comments %}
<li:non-style>
  <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" style="display: inline;">
  <h6>{{ forloop.counter }}</h6> <!-- 순번 자동입력 -->
  내용: {{ comment.content }}<br>
  수정시각: {{ comment.updated_at }}<br>
    {% csrf_token %}
    <p><input type="submit" value="댓글 삭제"></p>
  </form>
</li>
{% empty %}
  <p><b>댓글이 없어요 ㅠ</b></p>
{% endfor %}
<hr>
<!-- 댓글 작성 공간(form) -->
<form action="{% url 'articles:comments_create' article.pk %}" method="POST">
  {% csrf_token %}
  <label for="content">COMMENT</label>
  <input type="text" name="content" id="content"> <!-- input의 id는 label을 위한 것 view를 위한 것은 name임 -->
  <input type="submit" value="댓글 추가">
</form>
<hr>
<a href="{% url 'articles:update' article.pk %}">[ UPDATE ]</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울거?')">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>
<a href="{% url 'articles:index' %}">[ BACK ]</a>
{% endblock %}