/* 전체 선택자 */
* {
  color: red;
}

/* 태그 선택자 - 우선순위가 더 높음 */
h1 {
  color: blue;
}

/* 클래스 선택자 */
.pink {
  color: hotpink;
}

/* 아이디 선택자 */
#green {
  color: yellowgreen
}

.bold {
  font-weight: bold;
}

.yellow {
  color: yellow;
}

#orange {
  color: burlywood !important;
  color: orange;
}

#purple {
  color: purple;
}