div {
  width: 100px;
  height: 100px;
  background-color: burlywood;
  color: white;
  text-align: center;
  line-height: 100px;
}

.float-left {
  float: left;
}

.back {
  background-color: navy;
  width: 300px;
}

.float-right {
  float: right;
}

.clear {
  clear: both; 
  /* 좌우 모두 무시하는 것이므로 both 를 씀 */
}