<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .todo-list {
      display: inline-block;
      width: 33%;
    }
  </style>
</head>

<body>

  <div id="app">
    <h1>Todo Application</h1>
    <my-todo-list mytodolist="해야하는 일"></my-todo-list>
    <my-todo-list mytodolist="하고싶은 일"></my-todo-list>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    Vue.component('my-todo-list', {
      template: `
      <div class="todo-list">
        <h2 :style="{ color: titleColor }">{{ mytodolist }}</h2>
        <input type="text" v-model="newTodo" @keyup.enter="addTodo">
        <button @click="addTodo">+</button>
        <li v-for="todo in todos" :key="todo.id">
          <span>{{ todo.content }}</span>
          <button @click="removeTodo(todo.id)">X</button>
        </li>
      </div>
      `,
      props: {
        mytodolist: String
      },
      data: function () {
        return {
          todos: [],
          newTodo: '',
          todayDate: '',
          titleColor: 'crimson',
        }
      },
      methods: {
        addTodo: function () {
          if (this.newTodo.length !== 0) {
            this.todos.push({
              id: Date.now(),
              content: this.newTodo,
              todayDate: Date()
            })
            this.newTodo = ''
          }
        },
        removeTodo: function (todoId) {
          this.todos = this.todos.filter((todo) => {
            return todo.id !== todoId
          })
        },
      },
    })

    const app = new Vue({
      el: '#app',
    })
  </script>
</body>

</html>
