<div class="card mb-3">
  <div class="card-header">작성자: {{ article.user }}</div>
  <div class="card-body">
    <h5 class="card-title">제목: {{ article.title }}</h5>
    <p class="card-text">번호: {{ article.pk }}</p>
    <hr>
    <p class="card-text">
      <a href="{% url 'articles:like' article.pk %}">
        {% if user in article.like_users.all %}
          <i class="fas fa-heart fa-lg" style="color: crimson;"></i>
        {% else %}
          <i class="fas fa-heart fa-lg" style="color: black;"></i>
        {% endif %}
      </a>
      <b>{{ article.like_users.all|length }} 명이 이 글을 좋아합니다.</b>
    </p>    
    <a class="btn btn-info" href="{{ article.get_absolute_url }}">DETAIL</a>
  </div>
</div>
