{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% block title %}게시글 보기{% endblock title %}

{% block content %}
  <h1>DETAIL</h1>
  <hr>
  <p>{{ article.pk }}</p>
  <p>{{ article.title }}</p>
  <p>{{ article.content }}</p>
  <p>{{ article.created_at|date:"SHORT_DATE_FORMAT"}}</p>
  <p>{{ article.updated_at|date:"D d Y" }}</p>
  <hr>

  <!-- 댓글 보이는 곳 -->
  {% for comment in comments %}
    <div>댓글 {{forloop.revcounter}}: {{ comment.content }}    
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" style="display: inline">
    <!-- article.pk 빼먹지 말자 -->
      {% csrf_token %}
      <input type="submit" value="댓글 삭제">
    </form>
    </div>

  {% empty %}
    <p><b>입력된 댓글이 없습니다.</b></p>
  {% endfor %}
  <hr>
  
  <!-- 댓글 작성 공간(form) -->
  <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
    {% csrf_token %}
    {{ c_form }}
    <input type="submit" value="댓글 추가">
  </form>

  <a class="btn btn-success" href="{% url 'articles:update' article.pk %}">UPDATE</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST" style="display: inline">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="삭제">
  </form>
  <hr>  
  <a class="btn btn-primary" href="{% url 'articles:index' %}">BACK</a>
{% endblock %}
