{% extends 'articles/base.html' %}
{% load bootstrap4 %}

{% block content %}

  {% if request.resolver_match.url_name == 'create' %}
    <h1>CREATE</h1>
  {% else %}
    <h1>UPDATE</h1>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    <!-- {{ form.as_p }}   <!-- 'as_p' 추가하여 p 태그로 묶이는 것처럼 만들 수 있음 -->
    <!-- <input type="submit" value="제출"> -->
    {% bootstrap_form form layout="horizontal" %} <!-- form은 views에서 넘어온 것 -->
    {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
  </form>
  <hr>

  {% if request.resolver_match.url_name == 'create' %}
    <a class="btn btn-primary" href="{% url 'articles:index' %}">BACK</a>    
  {% else %}
    <a class="btn btn-primary" href="{{ article.get_absolute_url }}">BACK</a>
  {% endif %}
{% endblock %}