/* @media not|only mediatype and (조건문) {
  실행문
} */

/* 우리는 이렇게만 사용할 예정임 */
/* @media (조건문) {
  실행문
} */

@media only all and (max-width: 1200px) {
  * {
    margin: 0;
  }
}
/* 
  1. only 또는 not: 특정 미디어 타입(only) 또는 특접 타입을 제외(not)하고 스타일 적용
    (only screen / only print / not print)
  2. all: 모든 미디어 타입 (기본값)
    (screen / print / tty / tv 등)
  3. 논리 연산자를 사용하여 조건을 설정할 수 있다.
    (not / and / ,(or) )
*/

/*
  viewport 너비가 600px 이상일 때 적용된다는 얘기
  (적용 최소 너비 600px)
*/
@media (min-width: 600px) {
  h1 {
    color: crimson;
  }
}

/*
  viewport 너비가 500px 아래일 때만 적용
  (적용 최대 너비 500px)
*/
@media (max-width: 500px) {
  h2 { 
    color: darkgreen;
  }
}

/* viewport 너비가 정확히 500px 일 때 적용 */
@media (width: 500px) {
  h1 {
    color: royalblue;
  }
}

/* 가로 모드 */
@media (orientation: landscape) {
  .orientation::after {
    content: "가로입니다.";
  }
}

/* 세로 모드 */
@media (orientation: portrait) {
  .orientation::after {
    content: "세로입니다.";
  }
}


/* 무지개 만들기 */
@media (min-width: 500px) {
  .rainbow {
    color: red;
  }
}

@media (min-width: 550px) {
  .rainbow {
    color: orange;
  }
}

@media (min-width: 600px) {
  .rainbow {
    color: yellow;
  }
}

@media (min-width: 650px) {
  .rainbow {
    color: green;
  }
}

@media (min-width: 700px) {
  .rainbow {
    color: blue;
  }
}

@media (min-width: 750px) {
  .rainbow {
    color: navy;
  }
}

@media (min-width: 800px) {
  .rainbow {
    color: violet;
  }
}

/* viewport 너비가 500px, 높이가 500px 아래일 때만 적용 */
@media (max-height: 500px) and (max-width: 500px) {
  h3 {
    color: violet
  }
}

/* print */
@media only print {
  .print {
    color: crimson;
  }
}
