html {
  font-size: 20px;
}

ol,
ol li {
  font-size: 1.2rem;
}

ul,
ul li {
  font-size: 1.2em;
}

/* 클래스 구분은 '.'으로 한다 */
.vw {
  font-size: 10vw;
}

.vh {
  font-size: 10vh;
}

.div-vw {
  width: 10vw;
  height: 10vw;
  background-color: rgb(51, 192, 255);
}

.div-vh {
  width: 10vh;
  height: 10vh;
  background-color: rgb(156, 227, 86);
}

.div-vmin {
  width: 10vmin;
  height: 10vmin;
  background-color: rgb(230, 208, 30);
}